#footer {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 10px;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: whitesmoke
        }
    }
}