#navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        margin-left: 30px;
        max-height: 46px;
    }

    // user email text
    div {
        display: flex;
        align-items: center;
    }

    .btn {
        margin-right: 30px;
        margin-left: 30px;
    }
}