 .top-ten-score-card {
     width: 310px;
 }

 .top-user-score {
     width: 264px;

     .card-body {
         display: flex;
         justify-content: center;
     }
 }

.top-ten-score-card, .top-user-score {
    margin-bottom: 10px;

    .card-body {
        display: flex;

        .number {
            background-color: $success;
            color: white;
            font-size: 20px;
            padding: 10px;
            border-radius: 0.3rem;
            display: flex;
            align-items: center;
        }

        .score {
            background-color: $primary;
            color: white;
            border-radius: 0.3rem;
            width: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 10px;

            span {
                font-weight: bold;
            }
            div {
                font-size: 16px;
            }
        }

        .user-and-date, .date {
            display: flex;
            border-radius: 0.3rem;
            color: white;
            flex-direction: column;
            background-color: #ff8c00;
            padding: 6px;
            margin-left: 10px;
        }

        .date {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
   